<header>
  <div class="left-container">
    <h1>Your Available Tasks</h1>
    <button class="create" type="button" (click)="onCreateTask()">Create Task</button>
  </div>
  <div class="user-info">
    <div class="text-container">
      <p>{{ user()?.name + ' ' + user()?.surname }}</p>
      <p> {{ user()?.email }}</p>
    </div>
    <button class="logout" type="button" (click)="onLogout()">Log Out</button>
  </div>
</header>

<div class="tasks-container">

  <div
    class="tasks-column todo-tasks-column"
    id="todo"
    cdkDropList
    [cdkDropListConnectedTo]="['in-progress', 'completed']"
    [cdkDropListData]="todoTasks"
    (cdkDropListDropped)="drop($event)"
    [cdkDropListEnterPredicate]="noReturnPredicate"
  >
    @if (todoTasks.length !== 0) {
      <p class="tasks-column-title">To Do</p>
      @for (task of todoTasks; track task.id) {
        <app-task [task]="task" cdkDrag [cdkDragData]="task"></app-task>
      }
    } @else {
      <p class="empty-column">You don't have todo tasks.</p>
    }
  </div>

  <div
    class="tasks-column in-progress-tasks-column"
    id="in-progress"
    cdkDropList
    [cdkDropListConnectedTo]="['todo', 'completed']"
    [cdkDropListData]="inProgressTasks"
    (cdkDropListDropped)="drop($event)"
    [cdkDropListEnterPredicate]="todoPredicate"
  >
    @if (inProgressTasks.length !== 0) {
      <p class="tasks-column-title">In-progress</p>
      @for (task of inProgressTasks; track task.id) {
        <app-task [task]="task" cdkDrag [cdkDragData]="task"></app-task>
      }
    } @else {
      <p class="empty-column">You don't have any tasks in-progress.</p>
    }
  </div>

  <div class="tasks-column completed-tasks-column"
       id="completed"
       cdkDropList
       [cdkDropListConnectedTo]="['todo', 'in-progress']"
       [cdkDropListData]="completedTasks"
       (cdkDropListDropped)="drop($event)"
       [cdkDropListEnterPredicate]="todoOrInProgressPredicate"
  >
    @if (completedTasks.length !== 0) {
      <p class="tasks-column-title">Completed</p>
      @for (task of completedTasks; track task.id) {
        <app-task [task]="task"></app-task>
      }
    } @else {
      <p class="empty-column">You haven't completed a task yet.</p>
    }
  </div>
</div>
