<div>
  <p class="task-title">{{ task().title }}</p>
  <p class="task-info">Due date: {{ task().dueDate | date }}</p>
  @switch (task().priority) {
    @case (TaskPriority.LOW) {
      <p class="task-info">Priority: low</p>
    }
    @case (TaskPriority.MEDIUM) {
      <p class="task-info">Priority: medium</p>
    }
    @case (TaskPriority.HIGH) {
      <p class="task-info">Priority: high</p>
    }
    @case (TaskPriority.CRITICAL) {
      <p class="task-info">Priority: critical</p>
    }
  }
</div>
<button type="button" (click)="onEditTask()">
  <img src="assets/edit_icon.svg" />
</button>
