form {
  min-width: fit-content;
  overflow: auto;
  width: 60%;
  height: 70%;
  align-self: center;
  padding: 50px;
}

.form-item {
  display: flex;
  flex-direction: column;
  height: 150px;
}

form label {
  font-size: 19px;
  color: rgba(39, 51, 75, 0.85);
  margin-bottom: 10px;
}

form input {
  border: none;
  border-radius: 15px;
  background-color: var(--header-color);
  align-items: center;
  font-size: 18px;
  padding: 15px;
  color: rgba(51, 58, 59, 0.84);
  margin-bottom: 20px;
  outline: none;
  transition: 0.2s;
  width: 40%;
  height: 60px;
  min-width: 300px;
}

form button {
  height: 40px;
  width: 120px;
  border-radius: 30px;
  font-size: 18px;
  cursor: pointer;
  margin-right: 30px;
  background-color: var(--header-font-color);
  color: #ffffff;
  border: none;
}

form button:hover:not([disabled]) {
  filter: brightness(110%);
  transition: 0.1s;
}

form button:disabled {
  background-color: grey;
  cursor: not-allowed;
}

.validation-message {
  font-size: 18px;
  color: #c75454;
}

.not-have-account {
  margin-bottom: 25px;
  color: rgba(51, 58, 59, 0.84);
  font-size: 19px;
}

.not-have-account a {
  text-decoration: none;
  color: var(--header-font-color);
}

.not-have-account a:hover {
  filter: brightness(70%);
}

.login-failed-message {
  height: 50px;
  background-color: rgba(234, 93, 93, 0.49);
  padding: 0 20px;
  color: rgba(51, 58, 59, 0.84);
  width: 20%;
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-left: 50px;
  transition: 0.4s;
}

.hidden {
  visibility: hidden;
}

